<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO'
  crossorigin='anonymous'> <!-- Bootstrap -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script> <!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
  crossorigin='anonymous'></script> <!-- Bootstrap -->
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy'
  crossorigin='anonymous'></script> <!-- Bootstrap -->


<h1>Your Jim Coin Ledger</h1>
<p>
  Your Coin Stash: {{jim_coin}}
</p>
<p>
  Current Coin Value: ${{value}}.00
</p>
<p>
  View all of your Jim Coin transactions:
</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Amount</th>
      <th scope="col">Value <small>(at time of transaction)</small></th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of ledger">
      <th>{{transaction.action}}</th>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.value}}</td>
      <td><button class="btn-info" [routerLink]="['/details/',transaction.id]">Details</button></td>
    </tr>
  </tbody>
</table>
