<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO'
  crossorigin='anonymous'> <!-- Bootstrap -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script> <!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
  crossorigin='anonymous'></script> <!-- Bootstrap -->
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy'
  crossorigin='anonymous'></script> <!-- Bootstrap -->

<h1>Transaction Details:</h1>
<p>Detailed view of transaction {{transaction.id}}</p>
<h6>Transaction type: {{transaction.action}}</h6>
<h6>Amount of Coins: {{transaction.amount}}</h6>
<h6>Coin value at time of transaction: {{transaction.value}}</h6>
<h6>Timestamp: {{transaction.timestamp}}</h6>
<hr>
<button class="btn-warning" [routerLink]="['/ledger']" class="btn btn-primary">Back</button>
